<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6366b4">  <td>21/01/08 12:34:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GenericAPITest.startup()[pri:0, instance:com.uearn.qa.testcases.GenericAPITest@2a742aa2]">&gt;&gt;startup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>21/01/08 12:34:03</td>   <td>23</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenericAPITest.login()[pri:0, instance:com.uearn.qa.testcases.GenericAPITest@2a742aa2]">login</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="6366b4">  <td>21/01/08 12:34:22</td>   <td>18905</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenericAPITest.tearDown()[pri:0, instance:com.uearn.qa.testcases.GenericAPITest@2a742aa2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>21/01/08 12:34:22</td>   <td>18936</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GenericHomeApiTest.startup()[pri:0, instance:com.uearn.qa.testcases.GenericHomeApiTest@3cb1ffe6]">&gt;&gt;startup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>21/01/08 12:34:22</td>   <td>18941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GenericHomeApiTest.login()[pri:0, instance:com.uearn.qa.testcases.GenericHomeApiTest@3cb1ffe6]">login</td> 
  <td>main@428910174</td>   <td></td> </tr>
<tr bgcolor="ecbaaa">  <td>21/01/08 12:34:31</td>   <td>28304</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GenericHomeApiTest.tearDown()[pri:0, instance:com.uearn.qa.testcases.GenericHomeApiTest@3cb1ffe6]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@428910174</td>   <td></td> </tr>
</table>
