<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.uearn.qa.testcases.GigRegisterTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>reset_button_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>registration</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>sigin_button_test</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>social_Media_link_test</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>setup</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
