<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="beadca">  <td>21/04/09 03:04:20</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GigRegisterTest.setup()[pri:0, instance:com.uearn.qa.testcases.GigRegisterTest@7a187f14]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1337344609</td>   <td></td> </tr>
<tr bgcolor="beadca">  <td>21/04/09 03:04:39</td>   <td>19591</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GigRegisterTest.social_Media_link_test()[pri:0, instance:com.uearn.qa.testcases.GigRegisterTest@7a187f14]">social_Media_link_test</td> 
  <td>main@1337344609</td>   <td></td> </tr>
</table>
