<h2>Methods that were not run</h2><table>
<tr><td>com.uearn.qa.testcases.GigRegisterTest.reset_button_test</td></tr>
<tr><td>com.uearn.qa.testcases.GigRegisterTest.registration</td></tr>
<tr><td>com.uearn.qa.testcases.GigRegisterTest.sigin_button_test</td></tr>
</table>